
<% provide(:title, 'Help') %>
<!-- <html>
<head>
<title>Ruby on Rails Tutorial Sample App | <%= %> </title>we are not specifying the title using yield on each page, insted of this we are using a common page called application.html.erb which displays the contents of all the pages using the yield method
</head>
<body> -->
<h1> Help </h1>
<p>
Get Help on the Ruby on Rails Tutorial at the
<a href="http://railstutorial.org/help">Rails Tutorial help page</a>.
To get help on this sample app, see the
<a href="http://railstutorial.org/book">Rails Tutorial book</a>.
</p>
<!-- </body>
</html> -->