
<% provide(:title, 'Home') %>
<!-- <html>
 <head>
    <title>

    	Ruby on Rails Tutorial Sample App | <%= yield(:title) %>we are not specifying the title using yield on each page, insted of this we are using a common page called application.html.erb which displays the contents of all the pages using the yield method
    </title>

 </head>
 <body> -->
<h1>Home</h1>
 <p> This is the home page for the 
 	<a href ="http://railstutorial.org/"> Ruby on Rails tutorial </a>
<p>Find me in app/views/statics/home.html.erb</p>
<!-- </body>
</html> -->
